// Paths
$path-asset-root: "../";
$path-asset-images: "../images/";


//Colors
$clr-white: #ffffff;
$clr-black: #000000;
$clr-purple: #663399;


//Fonts
$ff-primary: "Manrope", serif;


//Font weight
$fw-semibold: 600;
$fw-bold: 700;


//Border radius
$br-big: 8px;


// Breakpoints
$breakpoints: (
    xs: (dir: min, size: 320px),
    s: (dir: min, size: 480px),
    sm: (dir: min, size: 576px),
    md: (dir: min, size: 768px),
    lg: (dir: min, size: 1200px),
    xl: (dir: min, size: 1440px),
);

